/* ==========Basic Structure========== */
*{
  padding: 0;
  margin: 0 auto;
}
/* ==========Header Section========== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 20%;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.cart {
  font-weight: bold;
}
.menu-cart{
    display: flex;
}

@media screen and (max-width:576px){
.nav-links{
    display: none;
}

}
/* ========== Banner Section ========== */
.banner-parent{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  background-color: #d6d6d6;
  border: 2px solid tomato;

}

.banner-desc{
  text-align: left;
}