/* ==========Basic Style========== */
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ==========Font========== */
.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.noto-serif-font {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* ==========Shared Styles========== */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* ==========Header Section========== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}

.logo {
  display: flex;
  margin: 0px;
  align-items: flex-start;
  max-width: 20%;
}
.menu-cart {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 1.2rem;
  margin: 0px;
}
ul {
  display: flex;
  gap: 48px;
  align-items: center;
}

.cart {
  font-weight: bold;
}

/* Banner Serction Design */
.banner-parent {
  margin-top: 0px;
  min-height: 400px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner-left {
  width: 50%;
}
.banner-right {
  width: 50%;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
}
.banner-desc {
  font-size: 24px;
}

/* Our Plants Section */
.plants-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.plants-title {
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
}
.plants-desc {
  color: rgb(115, 114, 114);
  font-size: 24px;
  padding: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.product {
}
.product-name {
  font-size: 18px;
}
.product-price {
  font-size: 20px;
  font-weight: 500;
}
.btn {
  background-color: rgb(233, 90, 8);
  color: white;
  padding: 10px;
  width: 100%;
}

/* Plants Lover Section */
.plants-lover-section {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}
.pls-img {
  width: 100%;
}
.ul {
  flex-direction: column;
}
.pl-left {
  width: 50%;
}
.pl-right {
  width: 50%;
  gap: 40px;
}
.flp-title {
  font-size: 40px;
  font-weight: 700;
}
.flp-list li {
  list-style: disc;
}
.flower-lover-item {
  font-size: 1.5rem;
}
/* Latest Deals */
.latest-deals{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.deals-desc{
  width: 888px;
  font-size: 18px;
  text-align: center;
}
.deal-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.deal-right{
 position: relative;
}
.img-position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ;
}
.collage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 20px;
}
.collage img{
  border-radius: 12px;
  filter: brightness(60%);
}
/* Small Screen Media Query */
@media screen and (max-width: 576px) {
  /* Header section */
  .header {
    padding: 20px;
    width: 90vw;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    align-items: center;
  }
  .nav {
    display: none;
  }

  /* Banner Section */
  .banner-parent {
    flex-direction: column-reverse;
    width: 90vw;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .banner-left {
    margin: 0px;
    margin-top: 25px;
    width: 100%;
    align-items: left;
    text-align: left;
  }
  .banner-right {
    margin: 0px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .banner-desc {
    font-size: 18px;
  }
  .pls-img {
    width: 100%;
  }
  /* Our Plans Section */
  .plants-parent {
    margin-top: 50px;
  }
  .plants-title {
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
  }
  .plants-desc {
    color: rgb(115, 114, 114);
    font-size: 16px;
    padding: 10px;
  }
  .product-container {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* Plant Lover Section */
  .plants-lover-section {
    display: flex;
    margin:0;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;;
  }
  .pl-left {
    width: 100%;
  }
  .pl-right {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
}

/* Just for easy to understand the container size and all atribute and it's used for temporarily deisnging the section */
.tmp {
  background-color: red;
  color: white;
}
.tmp2 {
  background-color: rgb(34, 253, 0);
  color: white;
}
.tmp3 {
  background-color: rgb(0, 21, 255);
  color: white;
}
